{% extends 'base.html' %}
{% block content %}
  <style>
    .feedback a {
      width: 100%;
      background-color: rgba(59, 56, 56, 0.5);
      padding: 20px 20px;
      text-decoration: none;
      font-size: 21px;
      display: block;
      margin-top: 5px;
      font-family: sans-serif;
      color: #444;
    }
  </style>
    <div class="feedback">
      <h2 style="font-family: sans-serif">National feedback users</h2>
      {% for agent in object_list %}
      <a href="#"
        >{{ agent.user.username }}</a
      >
      {% endfor %}
    </div>
{% endblock content %}