{% extends 'base.html' %}
{% block content %}
  <style>
    .feedback a {
      width: 100%;
      background-color: rgba(59, 56, 56, 0.5);
      padding: 20px 20px;
      text-decoration: none;
      font-size: 21px;
      display: block;
      margin-top: 5px;
      font-family: sans-serif;
      color: #444;
    }
  </style>
    <div class="feedback">
      <h2 style="font-family: sans-serif">National feedback users</h2>
      {% for setter in setters %}
      <a href="/{{ setter.pk }}/"
        >{{ setter.name }} {{ setter.last_name }} {{ setter.country }}</a
      >
      {% endfor %}
    </div>

    <!-- Aniqlanmagan foydalanuvchilar uchun template -->
    <h1>This is for unassigned users</h1>
    {% if unassigned_users.exists %}
    <div class="feedback">
      {% for setter in unassigned_users %}
      <a href="/{{ setter.pk }}/"
        >{{ setter.name }} {{ setter.last_name }} {{ setter.country }}</a
      >
      {% endfor %}
    </div>
    {% endif %}
    <!-- Aniqlanmagan foydalanuvchilar uchun template -->
{% endblock content %}